@model List<ProyectoPROGEND.Models.DatosUser>

<div class="container mt-5">
    <h1 class="mb-4 colo-titulo">Historial de Datos</h1>
<br>
    <div class="colo-titulo">
        @if (Model != null && Model.Any())
        {
            <table class="table table-dark colo-titulo">
                <thead>
                    <tr>
                        <th scope="col">Calorías Consumidas</th>
                        <th scope="col">Calorías Quemadas</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dato in Model)
                    {
                        <tr>
                            <td>@dato.CaloriasConsumidas Cal</td>
                            <td>@dato.CaloriasQuemadas Cal</td>
                            <td>@dato.Peso Kg</td>
                            <td>@dato.Altura Cm</td>
                            <td>@dato.RecordDate.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No hay datos registrados.</p>
        }
    </div>
    
    <br><br><a class="btn btn-primary" asp-action="Index">Volver a la Vista Principal</a>
</div>