@model ProyectoPROGEND.Models.PlanesYrecetasViewModel

<div class="container mt-5">

    <div>
        <h1 class="mb-4">Tus Datos</h1>
        @if (Model.DatosUsuario != null && Model.DatosUsuario.Any())
        {
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Calorías Consumidas</th>
                        <th scope="col">Calorías Quemadas</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody> @foreach (var dato in Model.DatosUsuario)
                    {
                        <tr>
                            <td>@dato.CaloriasConsumidas</td>
                            <td>@dato.CaloriasQuemadas</td>
                            <td>@dato.Peso</td>
                            <td>@dato.Altura</td>
                            <td>@dato.RecordDate.ToShortDateString()</td>
                        </tr>
                    } </tbody>
            </table>
        }
        else
        {
            <p>No hay datos registrados para los últimos días.</p>
        }
        <br>
        <a class="btn btn-primary" asp-action="UpdateDatos">Introducir Tus datos</a>
    </div><br>
    <h1 class="mb-4">Tus selecciones</h1>
    <h2>Lista de Planes</h2>
    <div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var plan in Model.Planes)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@plan.Nombre</h5>
                            <p class="card-text">
                                <span class="badge bg-primary">@plan.Nivel</span>
                                <span class="badge bg-secondary">@plan.Dificultad</span>
                            </p>
                            <div class="d-grid gap-2">
                                <a asp-action="Details" asp-controller="PlanEntrenamiento" asp-route-id="@plan.Id"
                                    class="btn btn-outline-primary">View Details</a>
                                <a asp-action="RemovePlanFromFavorites" asp-route-id="@plan.Id"
                                    class="btn btn-danger">Quitar plan</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <br>
    <h2>Listas de Recetas</h2>
    <div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var item in Model.Recetas)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text">
                                <span class="badge bg-primary">Cal: @item.Calorias</span>
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@item.Ingredientes</li>
                            </ul>
                            <div class="d-grid gap-2">
                                <a asp-action="Details" asp-controller="SeleccionRecetas" asp-route-id="@item.Id"
                                    class="btn btn-outline-primary">View Details</a>
                                <a asp-action="RemoveRecetasFromFavorites" asp-route-id="@item.Id"
                                    class="btn btn-danger">Quitar Receta</a>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>