@model ProyectoPROGEND.Models.PlanesYrecetasViewModel

<div class="container mt-5 fondo-selecciones">

    <div>
        @if (TempData["Message"] != null)
    {
        <div class="alert alert-info alert-float" >@TempData["Message"]</div>
    }
        <h1 class="mb-4 colo-titulo">Tus Datos</h1><br>
        <div class="">
            @if (Model.DatosUsuario != null && Model.DatosUsuario.Any())
            {
                <div class="table-responsive">
                <table class="table table-dark colo-titulo mi-tabla text-white">
                    <thead>
                        <tr>
                            <th scope="col">Calorías Consumidas</th>
                            <th scope="col">Calorías Quemadas</th>
                            <th scope="col">Peso</th>
                            <th scope="col">Altura</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody> @foreach (var dato in Model.DatosUsuario)
                        {
                            <tr>
                                <td>@dato.CaloriasConsumidas Cal</td>
                                <td>@dato.CaloriasQuemadas Cal</td>
                                <td>@dato.Peso Kg</td>
                                <td>@dato.Altura Cm</td>
                                <td>@dato.RecordDate.ToShortDateString()</td>
                            </tr>
                        } </tbody>
                </table>
                </div>
            }
            else
            {
                <p class="text-dark colo-titulo">No hay datos registrados para los últimos días.</p>
            }
            <br><a class="btn btn-secondary btn-primary" asp-action="HistorialDatos">Ver Historial Completo</a>
        </div>
        
        <br><br>
        <a class="btn btn-primary" asp-action="UpdateDatos">Introducir Tus datos</a>
    </div><br>
    <h1 class="mb-4 colo-titulo">Tus selecciones</h1>
    <br><br><h2 class="colo-titulo">Lista de Planes</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @if (Model.Planes == null || !Model.Planes.Any())
            {
                <p class="text-warning">No has seleccionado ningún plan todavía.</p>
            }
        @foreach (var plan in Model.Planes)
        {
            <div class="col">
                <div class="card h-100 PlanEntranamien">
                    <img src="~/imagenes/@plan.Image_Portada" class="card-img-top receta-imagen" alt="img_portada">
                    <div class="card-body">
                        <h5 class="card-title">@plan.Nombre</h5>
                        <p class="card-text">
                            <span class="badge bg-primary">Nivel: @plan.Nivel</span>
                            <span class="badge bg-secondary">Dificultad: @plan.Dificultad</span>
                            <span class="badge bg-success">Tipo: @plan.TipoEntrenamiento</span>
                            <span class="badge bg-primary">Frecuencia : @plan.Frecuencia </span>
                        </p>
                        <div class="btn-grup">
                            <a asp-action="Details" asp-controller="PlanEntrenamiento" asp-route-id="@plan.Id"
                                    class="btn btn-outline-primary nav-link">Ver detalles</a>
                            <a asp-action="RemovePlanFromFavorites" asp-route-id="@plan.Id"
                                    class="btn btn-danger nav-link">Quitar plan</a>
                        </div>
                    </div>
                </div>
            </div>

        }
        </div>
        <br>
    <br><h2 class="colo-titulo">Listas de Recetas</h2>
    <div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @if (Model.Recetas == null || !Model.Recetas.Any())
            {
                <p class="text-warning">No has seleccionado ninguna receta todavía.</p>
            }
            @foreach (var item in Model.Recetas)
            {
                <div class="col">
                    <div class="card h-100 PlanEntranamien">
                        <img src="~/imagenes/@item.Image_Portada" class="card-img-top receta-imagen" alt="img_portada">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text">
                               <span class="badge bg-danger">KCal: @item.Calorias</span><br>
                                <span class="badge bg-success">Proteinas: @item.Proteinas</span><br>
                                <span class="badge bg-info">Carbohidratos: @item.Carbohidratos</span>
                                <span class="badge bg-secondary">Tipo: @item.TipoComida</span><br>
                            </p>
                            <div class="btn-grup">
                                <a asp-action="Details" asp-controller="SeleccionRecetas" asp-route-id="@item.Id"
                                    class="btn btn-outline-info nav-link">View Details</a>
                                <a asp-action="RemoveRecetasFromFavorites" asp-route-id="@item.Id"
                                    class="btn btn-danger nav-link">Quitar Receta</a>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>
    
</div>