@model ProyectoPROGEND.Models.PlanEntranamiento;
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <div class="form-floating mb-3">
        <input asp-for="Nombre" placeholder="Nombre de marca" class="form-control" value="@Model.Nombre" required>
        <label for="floatingInput">Nombre del plan </label>
    </div>
    <br>
    <div class="form-floating mb-3">
        <input asp-for="Descripcion" placeholder="País" class="form-control" value="@Model.Descripcion" required>
        <label for="floatingInput">Descripcion</label>
    </div>
    <br>
    <div class="form-floating">
        <input asp-for="Duracion" placeholder="País" class="form-control" value="@Model.Duracion" required>
        <label for="floatingTextarea2">Duracion</label>
    </div>
    <br>
    <div class="form-floating">
        <input asp-for="Dificultad" placeholder="País" class="form-control" value="@Model.Dificultad" required>
        <label for="floatingTextarea2">Dificultad</label>
    </div>
    <br>
    <div class="form-floating">
        <input asp-for="Nivel" placeholder="País" class="form-control" value="@Model.Nivel" required>
        <label for="floatingTextarea2">Nivel</label>
    </div>
    <div class="form-floating">
        <input asp-for="EdadMinRecom" placeholder="País" class="form-control" value="@Model.EdadMinRecom" required>
        <label for="floatingTextarea2">EdadMinRecom</label>
    </div>
    <div class="form-floating">
        <input asp-for="EdadMaxRecom" placeholder="País" class="form-control" value="@Model.EdadMaxRecom" required>
        <label for="floatingTextarea2">EdadMaxRecom</label>
    </div>
    <div class="form-floating">
        <input asp-for="PesoMaxRecom" placeholder="País" class="form-control" value="@Model.PesoMaxRecom" required>
        <label for="floatingTextarea2">PesoMaxRecom</label>
    </div>
    <div class="form-floating">
        <input asp-for="PesoMinRecom" placeholder="País" class="form-control" value="@Model.PesoMinRecom" required>
        <label for="floatingTextarea2">Introduzca el peso minimo recomendado:</label>
    </div>
      <div class="form-floating">
        <input asp-for="AlturaMinRecom" placeholder="País" class="form-control" value="@Model.AlturaMinRecom" required>
        <label for="floatingTextarea2">AlturaMinRecom</label>
    </div>
       <div class="form-floating">
        <input asp-for="AlturaMaxRecom" placeholder="País" class="form-control" value="@Model.AlturaMaxRecom" required>
        <label for="floatingTextarea2">AlturaMaxRecom</label>
    </div>


    <br>
    <button type="submit" value="Save" class="btn btn-primary">Guardar</button>

</form>
<br>
<div>
    <a class="btn btn-primary" asp-action="Index">Inicio</a>
</div>