@model ProyectoPROGEND.Models.Recetas;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5 fondo-receta" >
<h1 class="mb-3 colo-titulo">Detalles</h1>

<div class="colo-titulo text-dark rounded-3" style="padding: 2%;">
    <h4>Recetas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Imagen de portada:
        </dt>
        <dd class="col-sm-10">
            <img src="~/imagenes/@Model.Image_Portada" alt="img_portada" height="150px">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoPreparacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TiempoPreparacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Porciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Porciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoComida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoComida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dificultad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dificultad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficios)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw((Model.Beneficios ?? string.Empty)
                .Replace("<", "&lt;")
                .Replace(">", "&gt;")
                .Replace("\r\n", "<br/>")
                .Replace("\r", "<br/>")
                .Replace("\n", "<br/>")
                .Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;") // Tabuladores
                .Replace("  ", "&nbsp;&nbsp;") )<!-- Espacios dobles -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrucciones)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw((Model.Instrucciones ?? string.Empty)
            .Replace("<", "&lt;")
                .Replace(">", "&gt;")
                .Replace("\r\n", "<br/>")
                .Replace("\r", "<br/>")
                .Replace("\n", "<br/>"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calorias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calorias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proteinas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proteinas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohidratos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carbohidratos)
        </dd>
    </dl>

    <div class="container">
        @if (User.IsInRole("ADMIN")
            || User.IsInRole("EDITRECETA")){
            <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model.Id">Editar</a> 
        } |
        <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a> |
        @if (User.IsInRole("ADMIN")
            || User.IsInRole("EDITRECETA")){
            <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@Model.Id">Borrar</a>
        }
        
    </div>
</div>

</div>