@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model ProyectoPROGEND.Models.PlanesYrecetasViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5 fondo-receta">
    <h1 class="mb-4 colo-titulo">Recetas</h1>
    @if (User.IsInRole("ADMIN"))
    {
        <div>
            <a class="btn btn-primary" asp-action="Create">Añadir Recetas</a>
        </div>
    }

    <br>
    <h1 class="mb-3 colo-titulo">Recetas Recomendadas:</h1><br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var plan in Model.RecomendacionRecetas)
        {
            <div class="col">
                <div class="card h-100 PlanEntranamien">
                    <img src="~/imagenes/@plan.Image_Portada" class="card-img-top receta-imagen" alt="img_portada">
                    <div class="card-body">
                        <h5 class="card-title">@plan.Nombre</h5>
                        <p class="card-text">
                            <span class="badge bg-primary">KCal: @plan.Calorias</span><br>
                            <span class="badge bg-primary">Proteinas: @plan.Proteinas</span><br>
                            <span class="badge bg-primary">Carbohidratos: @plan.Carbohidratos</span>
                            <li class="list-group-item PlanEntranamien">@plan.Ingredientes</li>
                        </p>
                        <div class="btn-grup">
                            <a asp-action="Details" asp-route-id="@plan.Id" class="btn btn-outline-primary nav-link">View
                                Details</a>
                            <a asp-action="AddRecetaToFavorites" asp-route-id="@plan.Id"
                                class="btn btn-outline-success nav-link ">Select
                                Receta</a>
                            @if (User.IsInRole("ADMIN"))
                            {
                                <a asp-action="Delete" asp-route-id="@plan.Id"
                                    class="btn btn-outline-danger nav-link ">Eliminar</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br>
    <h1 class="mb-3 colo-titulo">Todas las Recetas:</h1><br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var plan in Model.Recetas)
        {
            <div class="col">
                <div class="card h-100 PlanEntranamien">
                    <img src="~/imagenes/@plan.Image_Portada" class="card-img-top receta-imagen" alt="img_portada">
                    <div class="card-body">
                        <h5 class="card-title">@plan.Nombre</h5>
                        <p class="card-text">
                            <span class="badge bg-primary">KCal: @plan.Calorias</span><br>
                            <span class="badge bg-primary">Proteinas: @plan.Proteinas</span><br>
                            <span class="badge bg-primary">Carbohidratos: @plan.Carbohidratos</span>
                            <li class="list-group-item PlanEntranamien">@plan.Ingredientes</li>
                        </p>
                        <div class="btn-grup">
                            <a asp-action="Details" asp-route-id="@plan.Id" class="btn btn-outline-primary nav-link ">View
                                Details</a>
                            <a asp-action="AddRecetaToFavorites" asp-route-id="@plan.Id"
                                class="btn btn-outline-success nav-link ">Select Receta</a>
                            @if (User.IsInRole("ADMIN"))
                            {
                                <a asp-action="Delete" asp-route-id="@plan.Id"
                                    class="btn btn-outline-danger nav-link ">Eliminar</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>